WebContent/profiler.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions targetNamespace="http://profiler.gt.ferrari.it/" name="profiler" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://profiler.gt.ferrari.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://profiler.gt.ferrari.it/" schemaLocation="profiler_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello"/>
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse"/>
  </message>
  <message name="getUserProfile">
    <part name="parameters" element="tns:getUserProfile"/>
  </message>
  <message name="getUserProfileResponse">
    <part name="parameters" element="tns:getUserProfileResponse"/>
  </message>
  <message name="IllegalArgumentException">
    <part name="fault" element="tns:IllegalArgumentException"/>
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception"/>
  </message>
  <portType name="Profiler">
    <operation name="hello">
      <input message="tns:hello"/>
      <output message="tns:helloResponse"/>
    </operation>
    <operation name="getUserProfile">
      <input message="tns:getUserProfile"/>
      <output message="tns:getUserProfileResponse"/>
      <fault message="tns:IllegalArgumentException" name="IllegalArgumentException"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
  </portType>
  <binding name="ProfilerPortBinding" type="tns:Profiler">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getUserProfile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalArgumentException">
        <soap:fault name="IllegalArgumentException" use="literal"/>
      </fault>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="profiler">
    <port name="ProfilerPort" binding="tns:ProfilerPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

